In [2]:
#pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pymysql as sql

In [18]:
def getConnection():
    conn=sql.connect(host='localhost',port=3307, user='root', database='employee_info')
    return conn

In [27]:
conn=getConnection()
cur=conn.cursor()
query="insert into deptpy values(10,'suresh')"
cur.execute(query)
conn.commit()
conn.close()

In [30]:
conn=getConnection()
cur=conn.cursor()
query="update employee set salary=salary+salary*0.10 where id=5"
cur.execute(query)
conn.commit()
conn.close()

In [32]:
conn=getConnection()
cur=conn.cursor()
query="update employee set name='python' where id=5"
cur.execute(query)
conn.commit()
conn.close()

In [33]:
conn=getConnection()
cur=conn.cursor()
query="delete from employee where id=5"
cur.execute(query)
conn.commit()
conn.close()

In [37]:
conn=getConnection()
cur=conn.cursor()
query="select * from employee"
cur.execute(query)
k=cur.fetchone()
print(k)
k1=cur.fetchall()
for i in k1:
    print (i)
conn.commit()
conn.close()

(1, 'rakesh', 'chavan', 'vikhroli', 300000)
(2, 'kunal', 'dinkar', 'badlapur', 300000)
(3, 'suchit', 'khadtar', 'borivali', 30000)
(4, 'ramesh', 'misc', 'mumbai', 4555)